
body {
  background-color:#eeeeee;
  font-family:sans-serif;
  font-size:70%;
  margin-left:2pt;
}
.e {
  text-transform:uppercase;
  font-size:85%;
  vertical-align: -0.5ex;
  margin-left: -0.2em;
  margin-right: -0.1em;
  line-height: 0;
}
.a {
  text-transform:uppercase;
  font-size:75%;
  vertical-align: 0.45ex;
  margin-left: -0.36em;
  margin-right: -0.05em;
}
.t {
  margin-left: -0.15em;
}
address {
  font-size:70%;
  margin-top:2.5em;
  padding-top:.5em;
  border-top:1px solid gray;
}
.toc1 {
  padding-left:1em;
}
.toc2 {
  padding-left:2em;
}
.toc3 {
  padding-left:3em;
}
.toc4 {
  padding-left:4em;
}
.toc5 {
  padding-left:5em;
}
.toc6 {
  padding-left:6em;
}
